[submodule "Titan/Titan/vendor/spdlog"]
	path = Titan/Titan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Titan/vendor/GLFW"]
	path = Titan/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Titan/vendor/glm"]
	path = Titan/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Titan/vendor/SPIRV-Reflect"]
	path = Titan/vendor/SPIRV-Reflect
	url = https://github.com/zzWeeZz/SPIRV-Reflect.git
